.layui-btn{
    display: inline-block;
    height: 25px;
    width: 70px;
    line-height: 25px;
    padding: 0 8px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}